<nav class="navbar navbar-expand-sm text-center navbar-dark justify-content-center fixed-top bg-dark">
    <a class="navbar-brand" href="#">
        <code> <span class="green">&#123; </span> <span class="orange">{{name}}</span><span class="red">:</span> <span class="caption">{{caption}}</span> <span class="green"> &#125;</span></code>
    </a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        *ngIf="input.length>0">
        <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse navbar-dark bg-dark justify-content-end" id="collapsibleNavId">
        <ul class="navbar-nav" *ngIf="input.length>0">
            <li class="nav-item" *ngFor="let item of input">
                <a class="nav-link" href="javascript:void(0);" (click)='emitRoute(item.path)'>{{item.title}}</a>
            </li>
        </ul>
    </div>
</nav>