<footer>

    <div class="d-flex justify-content-center bg-dark footer">
        <ul class="navbar-nav flex-row nav-flex-icons">
            <li class="nav-item mx-2">
                <a href='https://twitter.com/y_gopal' class="nav-link waves-effect waves-light colorNone">
                    <i class="fab shadow fa-twitter "></i>
                </a>
            </li>
            <li class="nav-item mx-2">
                <a href='https://www.instagram.com/im_the_developer/'
                    class="nav-link waves-effect waves-light colorNone">
                    <i class="fab shadow fa-instagram "></i>
                </a>
            </li>
            <li class="nav-item mx-2">
                <a href='https://github.com/gopal-y' class="nav-link waves-effect waves-light colorNone">
                    <i class="fab shadow fa-github"></i>
                </a>
            </li>
            <li class="nav-item mx-2">
                <a href="https://in.linkedin.com/in/im-the-developer"
                    class="nav-link waves-effect waves-light colorNone">
                    <i class="fab shadow fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-center footer bg-dark text-white-50">

        I'm the Developer. © {{year}}

    </div>
</footer>