<div class="loader" *ngIf="loading">
    <mat-spinner id='spinner-1' diameter="45"></mat-spinner>
    <mat-spinner id='spinner-2' diameter="90"></mat-spinner>
    <mat-spinner id='spinner-3' diameter="69"></mat-spinner>
</div>
<div [hidden]="loading===true?true:null">
    <div class="vh-100 d-flex flex-column">
        <app-header [input]="headerInput" (route)="handleRoute($event)" (loader)="setLoading($event)"></app-header>
        <div class="bg-dark my-n3 py-2 h-95">
            <div class="m-3 pt-5 h-95 d-flex align-items-center" [@routeAnimations]="prepareRoute(outlet)">
                <router-outlet #outlet="outlet"></router-outlet>
            </div>
        </div>
        <app-footer [input]="footerInput" (route)='handleRoute($event)' (loader)="setLoading($event)"></app-footer>
    </div>
</div>