<div class="d-flex flex-column flex-md-row bg-someblue custom-box">
    <div class="col-xs-6 d-flex align-items-center justify-content-center">
        <img [src]="myImg" id="myImg" alt="Gopal's Image" />
    </div>
    <div class="col-xs-12 col-md-6 m-auto d-flex flex-column align-content-center">
        <h2>Hello World</h2>
        <p
            style="font-size:15px; color:wheat; white-space: pre-line; font-family: inherit,monospace; -webkit-text-stroke-width: medium;">
            I'm Gopal and I'm a developer. I love to design reusable code components using angular.
            I am a great fan of
            Javascript and still a learner.
        </p>
    </div>
</div>